<launch>

  <include file="$(find memorization)/launch/mask_rcnn_instance_segmentation_docker.launch">
    <arg name="INPUT_IMAGE" value="/rs_l515/color/image_raw" />
  </include>

  <include file="$(find memorization)/launch/memorize_with_bbox.launch"></include>

  <node pkg="memorization" type="test_publisher.py"
        name="test_publisher" output="screen"></node>

  <node pkg="memorization" type="test_client.py"
        name="test_client" output="screen"></node>

  <!-- <node pkg="memorization" type="display_memory.l" -->
  <!--       name="display_memory" output="screen"> -->
  <!--   <remap from="~recognizedparams" to="/memorize/recognizedparams" /> -->
  <!-- </node> -->

</launch>
