<launch>

  <include file="mask_rcnn_instance_segmentation_docker.launch">
    <arg name="INPUT_IMAGE" value="/rs_l515/color/image_raw" />
  </include>

  <include file="get_pose_with_bbox.launch"></include>

  <node pkg="memorization" type="test_publisher.py"
        name="test_publisher" output="screen"></node>

  <node pkg="memorization" type="test_client.py"
        name="test_client" output="screen"></node>

</launch>
